* {
  font-family: 'Inter', sans-serif;
}
.app {
  min-height: 100vh;
  width: 100%;
  background:
     url("https://scontent.fdgt1-1.fna.fbcdn.net/v/t39.30808-6/706277440_1024713409980591_1026139511464493954_n.jpg?stp=dst-jpg_tt6&cstp=mx1448x1086&ctp=s1448x1086&_nc_cat=107&ccb=1-7&_nc_sid=aa7b47&_nc_eui2=AeETW3xvyf4gIekPO-qb3BUbxzvaolwre7LHO9qiXCt7svIOAJ4JU6Ts0n-1aehQyv9OXkg8ld8dmlO80i8sIzMC&_nc_ohc=DTy44tunNVwQ7kNvwGHWnbo&_nc_oc=AdraHsXc3Clp31BJKXbXWMHi0WMmEOf5rgXqurzRtyarqsHDb1816Pim_mcJ--8JF7A&_nc_zt=23&_nc_ht=scontent.fdgt1-1.fna&_nc_gid=7zRzhg3fQBkoWR8l91M3XA&_nc_ss=7b2a8&oh=00_Af8MRveam273uOyEZ5I36xFHT1n-xjbt2nF5LN-u_bRFoQ&oe=6A2DC9E9")
    center/cover no-repeat;
    font-family: 'Inter', sans-serif;
}

.overlay {
  min-height: 100vh;
  width: 100%;
  background: rgba(7, 42, 99, 0.72);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  text-align: center;
  color: white;
  padding: 70px 20px;
}

.logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  background: white;
  padding: 5px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
}

.subtitle {
  margin-top: 20px;
  font-size: 1.2rem;
  margin-bottom: 60px;
  color: white !important;
  opacity: 1 !important;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 300px;
  padding: 40px 20px;
  border-radius: 18px;
  text-align: center;
  color: #0b2d63;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 240px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.primary-btn,
.secondary-btn {
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
}

.primary-btn {
  background: #0b2d63;
  color: white;
}

.primary-btn:hover {
  background: #15408b;
}

.secondary-btn {
  background: #bfefff;
  color: #0b2d63;
}

.secondary-btn:hover {
  background: #8fdcf7;
}

footer {
  background: #082a63;
  color: white;
  text-align: center;
  padding: 18px;
}

.card button {
  margin-top: auto;
  align-self: center;
}

@media (max-width: 768px) {

  .content h1 {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 1rem;
    color: white;
  }

  .card {
    width: 100%;
    max-width: 330px;
  }

}
