.admin-page{
height:100vh;

background:
linear-gradient(
rgba(0,44,120,.65),
rgba(0,44,120,.65)
),

url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

background-size:cover;

display:flex;

justify-content:center;

align-items:center;
}

.admin-container{

width:1100px;

height:700px;

background:white;

display:flex;

border-radius:25px;

overflow:hidden;

box-shadow:
0 20px 50px rgba(0,0,0,.2);

}

.admin-left{

flex:1;

background:#0c3a8c;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

padding:60px;

}

.admin-logo{

width:120px;

height:120px;

border-radius:50%;

margin-bottom:20px;

background:white;

padding:8px;

}

.admin-left h1{

font-size:60px;

margin:20px 0;

}

.admin-right{

flex:1;

display:flex;

flex-direction:column;

justify-content:center;

padding:70px;

}

.admin-right h1{

color:#083178;

margin-bottom:40px;

}

.admin-right form{

display:flex;

flex-direction:column;

gap:20px;

}

.admin-right input{

padding:18px;

border-radius:10px;

border:1px solid #ddd;

}

.admin-right button{

padding:18px;

border:none;

background:#083178;

color:white;

font-weight:700;

border-radius:10px;

cursor:pointer;

}
