.admin-page{
height:100vh;

background:
linear-gradient(
rgba(0,44,120,.65),
rgba(0,44,120,.65)
),

 url("https://scontent.fdgt1-1.fna.fbcdn.net/v/t39.30808-6/706277440_1024713409980591_1026139511464493954_n.jpg?stp=dst-jpg_tt6&cstp=mx1448x1086&ctp=s1448x1086&_nc_cat=107&ccb=1-7&_nc_sid=aa7b47&_nc_eui2=AeETW3xvyf4gIekPO-qb3BUbxzvaolwre7LHO9qiXCt7svIOAJ4JU6Ts0n-1aehQyv9OXkg8ld8dmlO80i8sIzMC&_nc_ohc=DTy44tunNVwQ7kNvwGHWnbo&_nc_oc=AdraHsXc3Clp31BJKXbXWMHi0WMmEOf5rgXqurzRtyarqsHDb1816Pim_mcJ--8JF7A&_nc_zt=23&_nc_ht=scontent.fdgt1-1.fna&_nc_gid=7zRzhg3fQBkoWR8l91M3XA&_nc_ss=7b2a8&oh=00_Af8MRveam273uOyEZ5I36xFHT1n-xjbt2nF5LN-u_bRFoQ&oe=6A2DC9E9");
background-size:cover;

display:flex;

justify-content:center;

align-items:center;
}

.admin-container{

width:1100px;

height:700px;

background:white;

display:flex;

border-radius:25px;

overflow:hidden;

box-shadow:
0 20px 50px rgba(0,0,0,.2);

}

.admin-left {

  flex: 1;

  background: #0b3a8d;

  color: white;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 70px;
}

.admin-logo {

  width: 120px;
  height: 120px;

  border-radius: 50%;

  background: white;

  padding: 8px;

  margin-bottom: 25px;
}

.admin-left h1 {

  font-size: 60px;

  margin: 20px 0;

  text-align: center;
}

.admin-right{

flex:1;

display:flex;

flex-direction:column;

justify-content:center;

padding:70px;

}

.admin-right h1{

color:#083178;

margin-bottom:40px;

}

.admin-right form{

display:flex;

flex-direction:column;

gap:20px;

}

.admin-right input{

padding:18px;

border-radius:10px;

border:1px solid #ddd;

}

.admin-right button{

padding:18px;

border:none;

background:#083178;

color:white;

font-weight:700;

border-radius:10px;

cursor:pointer;

}
